<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Listado Docentes</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<style>
	img{
      width: 100%;
    }
    body {
      background: url(https://i.imgur.com/4FwBpde.jpg); 
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0;
      height: 100%
    }
  </style>
</head>
<body>
	<div class="container">
		<table class="table table-bordered border-primary">
  			<tr>
				  <th><p style="text-align:center">Nombre</p></th>
				  <th><p style="text-align:center">Apellido</p></th>
				  <th><p style="text-align:center">Fecha De Nacimiento</p></th>
				  <th><p style="text-align:center">Edad</p></th>
				  <th><p style="text-align:center">DNI</p></th>
				  <th><p style="text-align:center">Género</p></th>
				  <th><p style="text-align:center">Ciudad</p></th>
				  <th><p style="text-align:center">Correo Electrónico</p></th>
				  <th><p style="text-align:center">Teléfono</p></th> 	  
				  <th><p style="text-align:center">Edición</p></th> 	  

			</tr>
			
  			<tr th:each="docente:${listado2}">
				  <td th:text="${docente.name}"></td>
				  <td th:text="${docente.lastName}"></td>
				  <td th:text="${#temporals.format(docente.fechaNac, 'dd/MM/yyyy')}"></td>
				  <td th:text="${docente.getEdad()}"></td>
				  <td th:text="${docente.dni}"></td>
				  <td th:text="${docente.gender}"></td>
				  <td th:text="${docente.adressCity}"></td>				  
				  <td th:text="${docente.adressEmail}"></td>
				  <td th:text="${docente.phoneNumber}"></td>
				  <td><a type="button" class="btn btn-warning"
				  href="#"
				  th:href="@{'/eliminarDocente/'+${docente.dni}}"
				  >ELIMINAR</a>
				  <a type="button" class="btn btn-warning"
				  href="#"				  
				  th:href="@{'/modificarDocente/'+${docente.dni}}"
				  >MODIFICAR</a></td>
  			</tr>
		</table>
	<form>
	</form>
	<input type="button" value="Recargar página" onClick="location.reload();"/>	
	<a href="http://localhost:8080/">
        <button>Volver a la página principal</button>
    </a>
	</div>
</body>
</html>